<aside [tuiNavigationAside]="this.asideService.$expanded()">
  <button iconLeft="tuiIconSearch" tuiButton>Search</button>
  <button iconLeft="tuiIconUsers" tuiAppearance="flat" tuiButton>Groups</button>

  <app-aside-item title="pagina 1"></app-aside-item>

  <button iconLeft="tuiIconHeart" tuiButton></button>
  <hr />

  <button iconLeft="tuiIconPlus" tuiButton>
    <span tuiFade>add</span>
  </button>

  <footer>
    <button iconLeft="tuiIconStar" tuiButton>Favorites</button>
    <button
      tuiButton
      [iconLeft]="'tuiIconChevronRight'"
      [iconLeft]="
        this.asideService.$expanded()
          ? 'tuiIconChevronLeft'
          : 'tuiIconChevronRight'
      "
      (click)="this.asideService.toogleOpenSide()"
    >
      Collapse
    </button>
  </footer>
</aside>
