<aside class="navigation-aside" [tuiNavigationAside]="this.asideService.asideIsOpen">
  <!-- <header> HEADER ASIDE </header> -->

  @for (route of AsideItems; track $index) {
    <app-aside-item
      [id]="$index"
      [pathLink]="route.path"
      [itemType]="route.type"
      [title]="route.title"
      [iconLeft]="route.icon"
      [children]="route.children"
    />
  }

  <!-- FOOTER -->
  <footer>
    <button tuiButton iconLeft="tuiIconStar">Favorites</button>
    <button
      tuiButton
      [iconLeft]="this.getFooterIconOpenState"
      (click)="this.asideService.toogleOpenSide()"
    >
      Collapse
    </button>
  </footer>
  <!-- --- -->
</aside>
