@if (this.children && this.children.length > 0) {
  <tui-hosted-dropdown
    [canOpen]="!asideIsOpen"
    [content]="dropdownContent"
    [sided]="true"
    [(open)]="dropDownIsOpen"
  >
    <app-aside-link (click)="this.toggleDropdownOpen()" [id]="this.id" [iconLeft]="this.iconLeft" [iconRight]="'tuiIconChevronDown'" >
      {{ this.title | titlecase }}
    </app-aside-link>
    <!-- it's here ref "dropDownIsOpen" -->
    <ng-template #dropdownContent>
      <tui-data-list size="s">
        @for (item of this.children; track $index) {
          <app-aside-link >
            {{ this.title | titlecase }}
          </app-aside-link>
        }
      </tui-data-list>
      <app-aside-link >
        {{ this.title | titlecase }}
      </app-aside-link>
    </ng-template>
  </tui-hosted-dropdown>

  <!-- it's here ref "submenuIsOpen" -->
  <tui-expand [expanded]="this.asideIsOpen && this.submenuIsOpen">
    @for (item of this.children; track $index) {
      <app-aside-link [id]="this.id" [iconLeft]="this.iconLeft">
        {{ this.title | titlecase }}
      </app-aside-link>
    }
  </tui-expand>

}

@else {
  <app-aside-link [id]="this.id" [iconLeft]="this.iconLeft">
    {{ this.title | titlecase }}
  </app-aside-link>
}


