<header tuiNavigationHeader>
  <button appearance="secondary" iconLeft="tuiIconGrid" tuiIconButton>
    Menu
  </button>
  <span tuiNavigationLogo>
    <tui-icon icon="tuiIconHome"></tui-icon>
    Structs-App
    <!-- <tui-badge>Test</tui-badge> -->
  </span>
  <!-- <tui-hosted-dropdown [content]="products">
    <button appearance="secondary" iconRight="tuiIconChevronDown" tuiButton>
      <span>A very very long project</span>
    </button>
    <ng-template #products>
      <tui-data-list size="s">
        <button tuiOption>
          A very very long project
          <tui-icon
            icon="tuiIconCheck"
            [style.font-size.em]="1"
            [style.margin-left.rem]="0.5"
          ></tui-icon>
        </button>
        <button tuiOption>Something else</button>
      </tui-data-list>
    </ng-template>
  </tui-hosted-dropdown> -->
  <hr />
  <button appearance="secondary" iconLeft="tuiIconPlus" tuiButton>
    Create
  </button>
  <button iconLeft="tuiIconBell" tuiIconButton>
    Notifications
    <tui-badge-notification></tui-badge-notification>
  </button>
  <button iconLeft="tuiIconMoreHorizontal" tuiIconButton>More</button>
  <tui-avatar src="AI"></tui-avatar>
</header>
